body {
    font-family: "Lexend", sans-serif;
    background-color: #f8f8f8;
}

a {color: #d41c1c;}

.text-center {text-align: center;}
.uppercase {text-transform: uppercase;}

.flex {display: flex;}
.column {flex-direction: column;}
.align-center {align-items: center;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.flex-wrap {flex-wrap: wrap;}
.gap-40 {gap:40px}
.gap-30 {gap:30px}
.gap-20 {gap:20px}
.gap-10 {gap:10px}
.gap-5 {gap:5px}

.container{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
}

.section{
    margin: 60px 0;
    h2 {font-size: 2rem; margin-bottom: 10px;}
}
.section--read{
    padding: 50px 0 70px 0;
    color: white;
    background-image: url(../assets/img/bg_1.jpg);
}

.main-header{
    color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {height: 80px;}

.logo{
    color: white;
    svg {width: auto;height: 40px;}
}

.menu{
    list-style: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    a{text-decoration: none; color: inherit;}
    a:hover{text-decoration: underline;}
}

.hero{
    color: white;
    height: calc(100vh);
    background-color: rgba(0, 255, 255, 0.37);
    background-image: url(../assets/img/hero.jpg);
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-top: 0;
    &::before{
        content:"";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .container{
        position: relative;
        padding-top: 60px;
    }
    h1{font-size: 3.2rem;}
    p {font-size: 1.1rem;}
}

.button{
    background-color: #d41c1c;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease;
    &:hover {background-color: #a71010;}
}

.features{
    display: grid;
    color: black;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    svg{
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        padding: 30px;
        color: rgb(0, 0, 0);
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
    }
}

.text-body{
    margin-top: 40px;
    p {margin: 10px 0;}
    h3 {font-size: 1.125rem;}
    h3.absolute-font {font-size: 18px;}
    p.absolute-font{font-size: 16px;}
    img{
        width: 45%;
        height: auto;
        align-self: center;
    }
}

.filter-img{
    margin-top: 40px;
    img{
        width: 100%;
        max-width: 510px;
        height: auto;
        padding: 20px;
        padding-bottom: 60px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.24);
    }
}

.main-footer{
    background-color: #363636;
    color: white;
    height: 60px;
    .menu {font-size: 0.7rem;}
    svg {height: 30px;}
}